
body{
    background: rgb(230, 233, 248);
}


.tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.tittle h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.tittle p{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}

.about-center {
    width: 66%;
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
}

.about-img{
    width: 80%;
}

.about{
    width: 100%;
    margin-left: 10px;
    background: white;
    
}


.tab-btn{
    display: block;
    background-color: rgb(204, 204, 248); 
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: black;
    width: 205px;

}



.about-img img{
    width: 580px;
    height: 340px;
    border-radius: 10px;
}

/* hide content*/


.content {
    display: none;
}

/* botton activado */
.tab-btn.active{
    background-color: #e7e7e7;
}

.content.active {
    display: block;
}
/* responsive */
@media screen and (max-width: 600px){
    .section{
        width: 100%;
    }

    .about-center {
        flex-wrap: wrap;
        margin: auto;
    }
    
    .about{
        margin-left: 0;
    }

    .about-img{
        width: 100%;
        margin-bottom: 5%;
    }
    .about-img img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .tab-btn{
        width: 32%;
    }
}

@media screen and (min-width: 600px) and (max-width: 768){
    .tittle{
        color: red;
    }

    .about-img img{
        width: 20%;
        height: 30%;
        border-radius: 10px;
    }
    
}